<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>
  <body style="background-color:powderblue">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container">
      <div class="panel panel-default" style="background-color:powderblue">
      <h3 style="text-align: center">Welcome New User !</h3>
      <form action="/register" method="POST" style="text-align: center">
        <div class="form-group">
         <label for="user" value="Email"/>
          <p><input type="email" id ="user" name="email"/></p>
        </div>
          <label for="password" value="Password"/>
          <p><input id="password" type="password" name="password" placeholder="*************" /></p>
          <input type="submit" value="Create User">
        </form>
    </div>
  </div>
  </body>
</html>