<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="background-color:powderblue">
  <div class="container" >
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="panel panel-default" style="background-color:powderblue">
      <div class="mydiv">
      <h3 style="text-align: center">Login</h3>
      <form method="POST" action="/login" style="text-align: center">
        <div class="form-group">
          <label for="user" value="Email"/>
          <p><input id="user" type="email" name="email"></p>
        </div>
        <div class="form-group">
          <label for="password" value="Password"/></td>
          <p><input id="password" type="password" name="password" placeholder="*************" />
        </div>
        <input type="submit" value="Login">
      </form>
      </div>
    </div>
  </div>
</body>
</html>